.login {
  .input_contain{
    width: 100%;
    padding-top:50px;
    background: lightgoldenrodyellow;
  }
  /* 用户 */
  .phone{
    margin-bottom: 30px;
    height: 50px;
    position: relative;
  }
  //密码框
  .password{
    margin-bottom: 30px;
  }
  
  //输入框
  input{
    width:80%;
    height:50px;
    border-radius:25px;
    padding:0 10px;
    border:none;
    font-size: 20px;
  }
  input::-webkit-input-placeholder{
    font-size: 16px;
  }
  //按钮
  .van-button{
    width: 80%;
    margin-bottom: 20px;
  }
  //忘记密码  注册
  .other_page{
    width: 80%;
    span{
      margin:0 20px;
      font-size: 16px;
    }
    .resign{
      margin-left: 100px;
    }
  }
  .van-search{
    margin-bottom: 30px;
  }
  .van-search__content {
    height: 50px;
    line-height: 50px;
  }
  .van-field__body{
    height: 100%;
  }
  .van-field__control{
    height: 80%;
  }
  //验证码
  #send_msg{
    position: absolute;
    width: 100px;
    height: 50px;
    line-height: 50px;
    top: 0;
    right:25px;
    font-size: 16px;
    background: greenyellow;
    border-radius: 5px;
  }
  //确认密码
  .check_pwd{
    margin-bottom: 30px;
  }
  
}

