@charset "utf-8";

*{
  margin: 0;
  padding: 0;
};
li {
  list-style: none;
};
a {
  text-decoration: none;
}

.home {
  .van-grid nav {
    padding-bottom: 20px;
  }
}
.search {
  .van-search__content {
    border-radius: 8px;
  }
}

// 详情页的icon大小设置
.detail{
  .van-icon-star-o{
    &::before{
      font-size: 25px;
    }
  }
}